*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400; 
}
/* Estilos globales */
body {
    min-width: 100vw;
    margin: 50px;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    min-height: 100vh; /* Establece la altura al 100% del viewport */
}

/* Estilos para la caja */
.caja {
    display: flex;
    flex-direction: column; /* Los contenedores se apilan verticalmente */
    padding: 20px; /* Padding para todos los lados de la caja */
    background-color: #f0f0f0; /* Color de fondo de la caja */
    border-radius: 10px; /* Borde redondeado para la caja */
}

/* Estilos para los contenedores */
.contenedor {
    padding: 10px; /* Padding para todos los lados de los contenedores */
    margin: 5px; /* Margen entre los contenedores */
    background-color: #fff; /* Color de fondo de los contenedores */
    border: 1px solid #ccc; /* Borde para los contenedores */
    border-radius: 5px; /* Borde redondeado para los contenedores */
}

.card1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos dentro de la tarjeta */
    padding: 40px; /* Padding para la tarjeta */
    background-color: #fff; /* Color de fondo de la tarjeta */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para la tarjeta */
    border-radius: 5px; /* Borde redondeado para la tarjeta */
}

.card2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px; /* Padding para la tarjeta */
    background-color: #fff; /* Color de fondo de la tarjeta */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para la tarjeta */
    border-radius: 5px; /* Borde redondeado para la tarjeta */


}
.card2 h2{
    margin-bottom: 15px;
    margin-left: 0px;

}
#formularioContainer{
     text-align: center;    
     gap: 0.5rem;
    width: 500px;
}
input, select{
    font-family: inherit;
}

.horizontal-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .25rem;
    row-gap: .5rem;
    
}
.horizontal-flex div{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-start;
 gap:.25rem;
}