*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400; 
}

body {
    min-width: 100vw;
    margin: 50px;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #6b5264;
}

.caja {
    display: flex;
    flex-direction: column; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
}


.contenedor {
    padding: 10px; 
    margin: 5px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.card1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 40px; 
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
}

.card2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px; 
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 


}
.card2 h2{
    margin-bottom: 15px;
    margin-left: 0px;

}
#formularioContainer{
     text-align: center;    
     gap: 0.5rem;
    width: 500px;
}
input, select{
    font-family: inherit;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}

.horizontal-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .25rem;
    row-gap: .5rem;
    
}
.horizontal-flex div{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: flex-start;
 gap:.25rem;
}
.boton{
    font-weight: bolder;
    background-color:#6b5264;
    transition: background-color 0.3s;
    cursor: pointer;
  padding: 10px 20px; 
  font-size: 14px;   
  width: min-content;
  display: block;    
  margin: 0 auto;  
  border-radius: 10px;
}
.boton:hover {
    background-color: #FFDA08;
    font-weight: bolder;
  }

  #recomendacion{
    background-color: #FFDA08ed;
    display: flex;
    flex-direction: column; 
    max-height: 100%; /
    overflow-y: auto; 
    max-width: 400px;
    justify-content: center;
    margin-left: 50px;
    border-radius: 10px;
    
  }